<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274906387857-68ppo7kjah0qqt585u6m10nf32olnsm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274906387857-68ppo7kjah0qqt585u6m10nf32olnsm9</string>
	<key>API_KEY</key>
	<string>AIzaSyBVaI0qAYZA1uZj-1xaD9acvsbnrfF37qs</string>
	<key>GCM_SENDER_ID</key>
	<string>274906387857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazonmusiclone</string>
	<key>PROJECT_ID</key>
	<string>amazonmusic</string>
	<key>STORAGE_BUCKET</key>
	<string>amazonmusic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274906387857:ios:8e87167cb66716f0a6b630</string>
</dict>
</plist>